* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #CCCCCC;
}

.grid {
  width: 100%;
}

.grid-item {
  width: 23%;
  padding: 5px 5px 2px 5px;
}

img {
  width: 100%;
}

.col-block {
  background: none;
  margin: 2px 0px;
  padding: 2px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.img-block img {
  height: 50px;
  width: 50px;
}

.like-block {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.title-block h5 {
  background: gray;
  margin: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.btn p {
  position: relative;
  color: white;
  bottom: 35px;
  left: 25px;
}


.drop-box {
  display: none;
  transition: 0.6s;
  position: absolute;
  top: 65px;
  left: 189px;
  min-width: 120px;
  max-width: 300px;
  border: 1px solid black;
  border-top: none;
  border-top-left-radius: : 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1000;
}

.drop-box input[type=submit] {

}

.show-menu {
  display: none;
}

nav {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
  .grid {
    margin-left: 20px;
  }
  .grid-item {
    width: 30%;
  }

  .drop-box {
    display: none:
  }
}

@media screen and (max-width: 640px) {
  .grid {
    margin-left: 20px;
  }
  .grid-item {
    width: 45%;
  }
}

.title {
  font-weight: 500;
  font-size: 1.5em;
}

.title-holder {
  padding: 5px 10px;
}

.img-delete {
  position: absolute;
  right: 5px;
  padding: 2px;
  border-radius: 5px;
  background-color: black;
  border: 2px solid gray;
  color: white;
}

form h4 {
  margin-top: 50px;
  padding-bottom: 20px;
}

form button {
  margin-top: 25px;
  margin-bottom: 25px;
}


.clipped {

  clip: rect(0px, 140px, 140px, 0px);
}
